<configuration>

    <!-- Configuración para desactivar los logs de Hibernate -->
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.tool.hbm2ddl" level="ERROR"/>

    <!-- Configuración del appender para consola -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuración del logger raíz -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>